<main>
  <h1 class="main_title">Javascript Test</h1>
  <section class="questions_list_form_section">
    <div class="questions_list_form_container">
      <form #formTest="ngForm"
            (ngSubmit)="checkTest(formTest)"
            ngNativeValidate>
        <div *ngFor="let questionData of questionsData"
             class="questions_container">
          <div class="question">
            <label class="question_text"
                   id="example-radio-group-label">{{ questionData.question }}
            </label>
            <br>
            <code class="question_code"
              *ngIf="questionData.code">
                {{ questionData.code }}
            </code>
            <mat-radio-group
              name="{{ questionData._id }}" ngModel
              class="answers_radio_group"
              required>
              <mat-radio-button class="answers-radio-button"
                                color="primary"
                                *ngFor="let answer of questionData.answerOptions.all"
                                [value]="answer"
                                required>
                <code class="answer_text">{{ answer }}</code>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="button_submit_container">
            <button mat-raised-button
                    color="primary">Submit
            </button>
        </div>
      </form>
    </div>
  </section>
</main>
